= render layout: 'layouts/section', locals: { heading: @roster.name } do
  .alert.alert-primary
    %div No fallback user!
    - if allowed_to?(:edit?, @roster)
      %div= link_to 'Select a fallback user', edit_roster_path(@roster), class: 'alert-link'
  %ul.nav.nav-tabs.mb-3
    %li.nav-item= link_to 'Assignments', roster_assignments_path(@roster), class: 'nav-link'
    %li.nav-item
      = link_to 'Memberships', roster_memberships_path(@roster), class: 'nav-link active', 'aria-current': 'page'
  .list-group.mb-3
    - if @memberships.present?
      - @memberships.each do |membership|
        .list-group-item
          .lead
            = membership.user.full_name
            - if membership.admin?
              %span.badge.bg-secondary Admin
            - if membership.user == @roster.fallback_user
              %span.badge.bg-secondary Fallback User
          %div= membership.user.email
          - if allowed_to?(:view_sensitive_info?, membership.user, context: { roster: @roster })
            %div= formatted_phone membership.user.phone
          - if allowed_to?(:destroy?, membership)
            = button_to membership_path(membership), method: :delete, class: 'btn btn-sm text-nowrap lh-1' do
              %i.fa-solid.fa-xmark.lh-1
              Remove
          - if allowed_to?(:update?, membership)
            = button_to membership_path(membership),
                        method: :patch,
                        params: { membership: { admin: !membership.admin? } },
                        class: 'btn btn-sm text-nowrap lh-1' do
              - if membership.admin?
                %i.fa-solid.fa-person-falling.lh-1
                Demote
              - else
                %i.fa-solid.fa-user-tie.lh-1
                Promote
    - else
      .list-group-item No memberships found.
  - if @other_users.present? && allowed_to?(:create?, @roster.memberships.new)
    = form_with model: [@roster, @roster.memberships.new] do |f|
      .input-group
        = f.label :user_id, 'Add user', class: 'input-group-text'
        = f.collection_select :user_id, @other_users, :id, :last_name, {}, required: true, class: 'form-select'
        = f.submit 'Add', class: 'btn btn-secondary'
