= render layout: 'layouts/roster', locals: { roster: @roster, nav_item: 'memberships' } do
  :ruby
    other_users = User.where.not(id: @roster.users.select(:id)).order(:first_name, :last_name)
    new_membership = Membership.new(roster: @roster)
  - if allowed_to?(:create?, new_membership) && other_users.present?
    .mb-3
      = form_with model: [@roster, new_membership] do |f|
        .input-group
          = f.label :user_id, 'Add user', class: 'input-group-text'
          = f.collection_select :user_id, other_users, :id, :full_name, {}, required: true, class: 'form-select'
          = f.button type: :submit, class: 'btn btn-outline-secondary' do
            %i.fa-solid.fa-check
            Add
  .card
    .card-header
      %strong Memberships
    .list-group.list-group-flush
      - if @memberships.present?
        - @memberships.each do |membership|
          .list-group-item
            .row
              .col
                = membership.user.full_name
                - if membership.admin?
                  %span.badge.textbg-secondary
                    %i.fa-solid.fa-user-tie
                    Admin
                - if membership.user == @roster.fallback_user
                  %span.badge.text-bg-secondary
                    %i.fa-solid.fa-user-shield
                    Fallback User
              .col-auto
                - if allowed_to?(:update?, membership)
                  = button_to membership_path(membership),
                              method: :patch,
                              params: { membership: { admin: !membership.admin? } },
                              form_class: 'd-inline-block',
                              class: 'btn btn-sm text-nowrap lh-1' do
                    - if membership.admin?
                      %i.fa-solid.fa-person-falling
                      Demote
                    - else
                      %i.fa-solid.fa-user-tie
                      Promote
                - if allowed_to?(:destroy?, membership)
                  = button_to membership_path(membership),
                              method: :delete,
                              form_class: 'd-inline-block',
                              class: 'btn btn-sm text-nowrap lh-1' do
                    %i.fa-solid.fa-xmark
                    Remove
      - else
        .list-group-item No memberships found
