= render layout: 'layouts/section', locals: { heading: @roster.name } do
  - if @roster.fallback_user.blank?
    .alert.alert-primary
      .d-flex.flex-wrap.justify-content-between.align-items-center
        %div
          %i.fa-solid.fa-triangle-exclamation
          There currently is no fallback user.
        = link_to 'Assign fallback user', edit_roster_path(@roster), class: 'alert-link'
  %ul.nav.nav-tabs.mb-3
    %li.nav-item= link_to 'Assignments', roster_path(@roster), class: 'nav-link'
    %li.nav-item
      = link_to 'Memberships', roster_memberships_path(@roster), class: 'nav-link active', 'aria-current': 'page'
  - if @other_users.present? && allowed_to?(:create?, Membership.new(roster: @roster))
    = form_with model: [@roster, Membership.new(roster: @roster)], html: { class: 'mb-3' } do |f|
      .input-group
        = f.label :user_id, 'Add user', class: 'input-group-text'
        = f.collection_select :user_id, @other_users, :id, :last_name, {}, required: true, class: 'form-select'
        = f.submit 'Add', class: 'btn btn-secondary'
  .card
    .card-header
      %strong Memberships
    .list-group.list-group-flush
      - if @memberships.present?
        - @memberships.each do |membership|
          .list-group-item
            .row
              .col
                = membership.user.full_name
                - if membership.admin?
                  %span.badge.bg-secondary
                    %i.fa-solid.fa-user-tie
                    Admin
                - if membership.user == @roster.fallback_user
                  %span.badge.bg-secondary
                    %i.fa-solid.fa-user-shield
                    Fallback User
              .col-auto
                - if allowed_to?(:update?, membership)
                  = button_to membership_path(membership),
                              method: :patch,
                              params: { membership: { admin: !membership.admin? } },
                              form_class: 'd-inline-block',
                              class: 'btn btn-sm text-nowrap lh-1' do
                    - if membership.admin?
                      %i.fa-solid.fa-person-falling
                      Demote
                    - else
                      %i.fa-solid.fa-user-tie
                      Promote
                - if allowed_to?(:destroy?, membership)
                  = button_to membership_path(membership),
                              method: :delete,
                              form_class: 'd-inline-block',
                              class: 'btn btn-sm text-nowrap lh-1' do
                    %i.fa-solid.fa-xmark
                    Remove
      - else
        .list-group-item No memberships found.
