%h1 Development login
%h2 Login as:
%ul
- @rosters.each do |roster|
  %li
    = roster.name
    %ul
      - roster.users.each do |user|
        %li
          = form_tag '/sessions/dev_login' do
            = hidden_field_tag :user_id, user.id
            = hidden_field_tag :roster_id, roster.id
            = submit_tag user.full_name
