.container-fluid
  = form_for @assignment, url: path do |f|
    = f.hidden_field :roster_id, value: @roster.id
    .row
      .col-2.offset-3
        .form-group
          = f.label :user_id
          = f.collection_select :user_id, @users, :id, :last_name,
                                {}, class: 'form-control custom-select'
      .col-4
        .form-group
          = f.label :start_date
          = f.text_field :start_date, value: f.object.start_date || @start_date,
            class: 'datepicker form-control'
        .form-group
          = f.label :end_date
          = f.text_field :end_date, value: f.object.end_date || @end_date,
            class: 'datepicker form-control'
    .row
      .offset-3.col-3= f.submit 'Save', class: 'btn btn-secondary'
      - if @assignment.persisted?
        .col-3.text-right= button_to 'Delete assignment',
          roster_assignment_path(@roster, @assignment),
          method: :delete, class: 'btn btn-danger'
