%h1.title Edit assignment
.container-fluid
  = form_for @assignment, url: roster_assignment_url(@roster, @assignment) do |f|
    .row
      .col-xs-2.col-xs-offset-3
        .form-group
          = f.label :user_id
          = f.select :user_id,
           options_from_collection_for_select(@users, :id, :last_name),
           class: 'form-control'
      .col-xs-4
        .form-group
          = f.label :start_date
          = f.text_field :start_date, class: 'datepicker form-control'
        .form-group
          = f.label :end_date
          = f.text_field :end_date, class: 'datepicker form-control'
    .col-xs-offset-4.col-xs-1
      = f.submit 'Save', class: 'btn btn-primary'
  .col-xs-1
    = button_to 'Delete assignment',
     roster_assignment_path(@roster, @assignment),
     method: :delete, class: 'btn btn-danger'
