%h1.title Generate rotation

= form_tag do
  = label_tag :start_date
  = text_field_tag :start_date, @start_date, class: 'datepicker'
  = label_tag :end_date
  = text_field_tag :end_date, @end_date, class: 'datepicker'
  = label_tag :user_ids, 'Users'
  = select_tag :user_ids,
    options_from_collection_for_select(@users, :id, :last_name, @users.pluck(:id)),
    multiple: true, size: 10
  = submit_tag 'Generate rotation'
