%h1.title #{@roster.name} On-Call
= render partial: 'current'
= render partial: 'your_assignments' if @assignments.present?

%h2.title= @month_date.strftime '%-B %G'
%table#calender
  %thead
    %tr
      - WEEKDAYS.each do |day|
        %th.cal-head= day

  - @weeks.each do |week|
    %tr.cal-row
      - week.each do |day|
        - assignment = Assignment.in(@roster).on(day)
        %td.cal-cell{ class: cal_day(day: day) }
          %div.date
            = day.strftime '%-d'
            = if (day.strftime '%-d') == '1'
              -day.strftime '%B'
            %div.cal-event{class: cal_ass(assignment: assignment, day: day)}
              %span
                - if assignment.present?
                  = link_to assignment.user.last_name,
                      edit_roster_assignment_url(@roster, assignment)
                - else
                  .slightly-red= link_to 'None assigned',
                      new_roster_assignment_url(@roster, date: day)
  %span.left.change-month= link_to @month_date.last_month.strftime('%B'),
    roster_assignments_path(@roster, date: @month_date.last_month)
  %span.right.change-month= link_to @month_date.next_month.strftime('%B'),
    roster_assignments_path(@roster, date: @month_date.next_month)