%h1.text-center #{@roster.name} On-Call

= render partial: 'current'
= render partial: 'your_assignments' if @assignments.present?

#calendar.my-2

.form-inline.justify-content-center.my-4
  %span.fas.fa-info-circle.mr-2{ data: { toggle: 'tooltip', placement: 'top' },
   title: 'Use this address to subscribe to this calendar in another application (i.e. Google Calendar).' }
  .input-group
    = text_field_tag :access_token,
     "https://umts-oncall.admin.umass.edu/feed/#{ @roster.name.parameterize }/#{ @current_user.calendar_access_token }.ics",
     readonly: true, class: 'form-control copy-text'
    .input-group-append
      - tooltip = { toggle: 'tooltip', placement: 'top' }
      .btn.btn-outline-secondary.copy-text-btn.copy-tooltip{ data: tooltip, title: 'Click to copy link' }
        %span.far.fa-clipboard
