%h1.title #{@roster.name} On-Call
%h2.title= @month_date.strftime '%-B %G'

%table.calender
  %thead
    %tr
      - WEEKDAYS.each do |day|
        %th.cal-head= day

  - @weeks.each do |week|
    %tr.cal-row
      - week.each do |day|
        - assignment = Assignment.in(@roster).on(day)
        %td.cal-cell{ class: ('weekend' if day == assignment.start_date || day == assignment.end_date) }
          %div.date
            = day.strftime '%-d'
            %ul
              %li
                %span
                  - if assignment.present?
                    = link_to assignment.user.last_name,
                        edit_roster_assignment_url(@roster, assignment)
                  - else
                    .slightly-red= link_to 'None assigned',
                        new_roster_assignment_url(@roster, date: day)
= render partial: 'current'
= render partial: 'your_assignments' if @assignments.present?