= render layout: 'layouts/section', locals: { heading: "#{@roster.name} On-Call" } do
  = render partial: 'current',
           locals: { current_assignment: @current_assignment, fallback_user: @fallback_user, roster: @roster }
  = render partial: 'your_assignments', locals: { assignments: @assignments } if @assignments.present?
  #calendar.mb-3
  = render partial: 'feed_address_form', locals: { roster: @roster }
