%h1.title Transportation IT On-Call Calendar

%table#calendar
  %tr
    - WEEKDAYS.each do |day|
      %th= day
  - @weeks.each do |week|
    %tr
      - week.each do |day|
        %td
          - assignment = Assignment.on(day)
          %div{ class: ('lightgrey' if day.month != @month_date.month) }
            = day.strftime '%-m/%-d'
          .assignment
            - if assignment.present?
              = link_to assignment.user.last_name,
                edit_assignment_url(assignment)
              .arrows
                - if day == assignment.start_date
                  %span.left &#8594;
                - if day == assignment.end_date
                  %span.right &#8592;
            - else
              .slightly-red= link_to 'None assigned',
                new_assignment_url(date: day)
  %span.left= link_to @month_date.last_month.strftime('%B %Y'),
    assignments_path(date: @month_date.last_month)
  %span.right= link_to @month_date.next_month.strftime('%B %Y'),
    assignments_path(date: @month_date.next_month)
= render partial: 'current'
= render partial: 'your_assignments' if @assignments.present?
