BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//umasstransit.org//umts-oncall.admin.umass.edu//EN
CALSCALE:GREGORIAN
TZID:US-Eastern
METHOD:PUBLISH
- @assignments.each do |assignment|
  BEGIN:VEVENT
  UID:#{assignment.id}@screaming-dinosaur
  DTSTART;VALUE=DATE:#{assignment.start_date.to_s(:number)}
  DTEND;VALUE=DATE:#{(assignment.end_date + 1.day).to_s(:number)}
  SUMMARY:#{assignment.user.last_name}
  DESCRIPTION:#{assignment.user.first_name} #{assignment.user.last_name} is on call for #{assignment.roster.name}.
  LAST-MODIFIED:#{assignment.updated_at.to_s(:number)}
  STATUS:CONFIRMED
  END:VEVENT
END:VCALENDAR