%h1.title Calendar

%table#calendar
  %tr
    - @week.each do |date|
      %th= date.strftime '%a'
  - 4.times do |i|
    %tr
      - 7.times do |j|
        %td
          - date = @date + i.weeks + j.days
          - assignment = Assignment.on(date)
          = date.strftime '%-m/%-d'
          .assignment
            - if assignment.present?
              = link_to assignment.user.last_name,
                edit_assignment_url(assignment)
            - else
              .slightly-red= link_to 'None assigned',
                new_assignment_url(date: date)
%span.left= link_to 'Back 1 month', assignments_path(date: @date - 1.month)
%span.right= link_to 'Forward 1 month', assignments_path(date: @date + 1.month)
= render partial: 'current'
= render partial: 'your_assignments'
