%h1.title Generate rotation

.container-fluid
  = form_tag generate_rotation_roster_assignments_path(@roster) do
    .row
      .col-4.offset-2
        .form-group
          = label_tag :start_date
          = date_field_tag :start_date, @start_date, class: 'form-control'
        .form-group
          = label_tag :end_date
          = date_field_tag :end_date, @start_date + 3.months, class: 'form-control'
        .form-group
          = label_tag :starting_user_id, 'Starting with'
          = select_tag :starting_user_id,
            options_from_collection_for_select(@users, :id, :last_name),
             class: 'form-control custom-select'
      .col-4
        .form-group
          = label_tag :user_ids, 'Users'
          = select_tag :user_ids,
           options_from_collection_for_select(@users, :id, :last_name,
            @users.pluck(:id)), multiple: true, size: 10, class: 'form-control'
    .text-center
      = submit_tag 'Generate rotation', class: 'btn btn-primary'
