%h1.title Edit roster

= form_for @roster do |f|
  = f.label :name
  = f.text_field :name
  = f.label :fallback_user_id
  = f.select :fallback_user_id, @users.pluck(:last_name, :id)
  = f.submit 'Save'
