%h1.title Edit roster

= form_for @roster do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :fallback_user
    = f.collection_select :fallback_user_id, @users, :id, :last_name,
      { include_blank: true }, class: 'form-control custom-select'
  .form-group
    = f.submit 'Save', class: 'btn btn-primary'
