%h1.title Edit roster

= form_for @roster do |f|
  .container-fluid
    .row
      .col-xs-3
      .col-xs-4
        .form-group
          = f.label :name
          = f.text_field :name, class: 'form-control'
      .col-xs-2
        .form-group
          = f.label :fallback_user_id
          .vert-center
            = f.select :fallback_user_id, @users.pluck(:last_name, :id)
  .center
    = f.submit 'Save', class: 'btn btn-primary'
