%h1.title Edit roster

= form_for @roster do |f|
  %div.container-fluid
    %div.row
      %div.col-xs-3
      %div.col-xs-4
        %div.form-group
          = f.label :name, class:'control-label'
          = f.text_field :name, class: 'form-control'
      %div.col-xs-2
        %div.form-group
          = f.label :fallback_user_id, class: 'control-label'
          %div.vert-center
            = f.select :fallback_user_id, @users.pluck(:last_name, :id)
  %div.center
    = f.submit 'Save', class: 'btn btn-primary'