%h1.title Rosters

%table#users
  %thead
    %tr
      %th Name
      %th Fallback
      %th
      %th
      %th
  %tbody
    - @rosters.each do |roster|
      %tr
        %td= roster.name
        %td
          - if roster.fallback_user.present?
            = roster.fallback_user.last_name
          - else
            No fallback user!
        - if @current_user.admin_in? roster
          %td= link_to 'Edit', edit_roster_url(roster)
          %td= link_to 'Setup Number', setup_roster_path(roster)
          %td= button_to 'Destroy', roster_path(roster), method: :delete

= link_to 'New roster', new_roster_path
