= render layout: 'layouts/section',
         locals: { heading: 'On-Call Dashboard', creatable: allowed_to?(:new, Roster) && new_roster_path } do
  :ruby
    active_assignments = Assignment.includes(:roster, :user).at(Time.current)
    rosters = active_assignments.select { |assignment| assignment.user == Current.user }.collect(&:roster)
    fallbacks = Roster.where(fallback_user: Current.user) - active_assignments.collect(&:roster)
  - if rosters.any?
    .alert.alert-info
      You are currently on call for:
      %strong= rosters.map(&:name).join(', ')
  - if fallbacks.any?
    .alert.alert-danger
      You are currently the fallback on call for:
      %strong= fallbacks.map(&:name).join(', ')
  - @rosters.each do |roster|
    .card.mb-3
      .card-body
        - unless roster.assignments.current
          .fa-solid.fa-triangle-exclamation
        = link_to roster.name, roster_assignments_path(roster)
        = roster.assignments.current&.user&.full_name || roster.fallback_user&.full_name || 'No one on call!'
        Switches at
        = roster.switchover_time.strftime '%-I:%M %P'
