%h1.title Rosters

%table.table
  %thead
    %tr
      %th Name
      %th Fallback
      %th
      %th
      %th
  %tbody
    - @rosters.each do |roster|
      %tr
        %td.align-middle= roster.name
        %td.align-middle
          - if roster.fallback_user.present?
            = roster.fallback_user.last_name
          - else
            No fallback user!
        - if @current_user.admin_in? roster
          %td.align-middle= link_to 'Set Twilio Number', setup_roster_path(roster)
          %td.align-middle= link_to 'Edit', edit_roster_url(roster)
          %td.align-middle= button_to 'Destroy', roster_path(roster), method: :delete,
            class: 'btn btn-danger'
        - else
          %td
          %td
          %td

.text-center
  = link_to 'New roster', new_roster_path, class: 'btn btn-primary btn-lg'
