= render layout: 'layouts/rosters' do
  .card.mb-3
    .card-header
      .d-flex
        .flex-grow-1
          - if Current.user.admin?
            All
          - else
            Your
          Rosters
        - if allowed_to?(:new?, Roster.new)
          %div
            = link_to new_roster_path, class: 'btn btn-sm btn-text' do
              %i.fa-solid.fa-plus
              New
    - if @rosters.present?
      .list-group.list-group-flush
        - @rosters.each do |roster|
          = link_to roster_path(roster), class: 'list-group-item list-group-item-action py-3' do
            .float-end= formatted_phone(roster.phone)
            .h5.card-title= roster.name
            = render partial: 'rosters/on_call_user', locals: { roster: }
    - else
      .card-body
        No rosters found
  = paginate @rosters
