= render layout: 'layouts/section',
         locals: { heading: 'On-Call Dashboard', creatable: allowed_to?(:new?, Roster) && new_roster_path } do
  .list-group
    - if @rosters.present?
      - @rosters.each do |roster|
        = link_to roster_assignments_path(roster), class: 'list-group-item list-group-item-action' do
          .float-end.d-flex.align-items-end.flex-column
            = formatted_phone(roster.phone)
          .d-flex.flex-wrap.align-items-center.gap-2
            %span.lead.text-black= roster.name
            %span.badge.bg-primary= 'No assignment!' unless roster.assignments.current
            %span.badge.bg-primary= 'No fallback!' unless roster.fallback_user
          - if roster.assignments.current
            #{roster.on_call_user&.full_name} on call until
            #{(roster.assignments.current.end_date + 1.day).strftime '%A, %B %e, %Y'}
          - elsif roster.on_call_user
            #{roster.on_call_user.full_name} on call as fallback
          .text-muted Switchover: #{roster.switchover_time.strftime '%-I:%M %P'}
