= render layout: 'layouts/section', locals: { heading: 'Rosters', creatable: new_roster_path } do
  .table-responsive
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Name
          %th Fallback
          %th Switchover
          %th Phone
          %th.column-compact
          %th.column-compact
          %th.column-compact
      %tbody
        - @rosters.each do |roster|
          %tr
            %td= roster.name
            %td
              - if roster.fallback_user.present?
                = roster.fallback_user.last_name
              - else
                No fallback user!
            %td= roster.switchover_time.strftime '%-I:%M %P'
            %td= formatted_phone(roster.phone)
            - if Current.user.admin_in? roster
              %td
                = link_to setup_roster_path(roster), class: 'btn btn-sm text-nowrap lh-1' do
                  %i.fa-solid.fa-gear
                  Twilio Setup
              %td
                = link_to edit_roster_url(roster), class: 'btn btn-sm text-nowrap lh-1' do
                  %i.fa-solid.fa-edit
                  %span.d-none.d-xl-inline Edit
              %td
                = button_to roster_path(roster),
                            method: :delete,
                            data: { confirm: 'Deleting roster will remove all assignments and members.' },
                            class: 'btn btn-sm text-nowrap lh-1' do
                  %i.fa-solid.fa-trash
                  %span.d-none.d-xl-inline Delete
            - else
              %td
              %td
              %td
