= render layout: 'layouts/rosters' do
  = render layout: 'layouts/card',
           locals: { heading: 'All Rosters', creatable: allowed_to?(:new?, Roster.new) && new_roster_path } do
    - if @rosters.present?
      .list-group.list-group-flush
        - @rosters.each do |roster|
          = link_to roster_assignments_path(roster), class: 'list-group-item list-group-item-action py-3' do
            .float-end
              = formatted_phone(roster.phone)
            %div
              %span.h5.text-primary= roster.name
              - if roster.assignments.current.blank? && allowed_to?(:new?, roster.assignments.new)
                %span.badge.bg-primary
                  %i.fa-solid.fa-triangle-exclamation
                  No assignment
              - if roster.fallback_user.blank? && allowed_to?(:edit?, roster)
                %span.badge.bg-primary
                  %i.fa-solid.fa-triangle-exclamation
                  No fallback
            %div
              %strong= roster.on_call_user&.full_name || 'Nobody'
              - if roster.assignments.current.blank? && roster.on_call_user.present?
                (Fallback)
              is currently on call.
            - if roster.assignments.current.present?
              %div
                %small
                  Switches
                  = l roster.assignments.current&.effective_end_datetime, format: :sentence
    - else
      .card-body
        No rosters found.
