%h1.title New roster
%p
  To assign the fallback user, first create the roster,
  then add some users to it.

= form_for Roster.new do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :phone
    = f.phone_field :phone, class: 'form-control'
  .form-group
    = f.label :switchover_time
    = f.time_field :switchover_time, class: 'form-control',
                   value: '17:00', required: true
  = f.submit 'Save', class: 'btn btn-primary'
