%h1.title Setup Twilio for #{@roster.name}

%ol#twilio-instructions
  - if @roster.phone.present?
    %li= link_to "Configure #{formatted_phone(@roster.phone)}",
      'https://console.twilio.com/us1/develop/phone-numbers/manage/incoming'
  - else
    %li= link_to 'Add a phone number',
      'https://console.twilio.com/us1/develop/phone-numbers/manage/search'
  %li
    Under Voice and Fax:
    %ol
      %li
        Set the call webhook to an HTTP GET request to
        %tt= roster_twilio_call_url(@roster, format: :xml)
      - if @roster.fallback_user.present?
        %li
          Set the failure handler to a TwiML Bin containing
          .card.w-75
            %pre.m-0.card-body= @roster.fallback_call_twiml
  %li
    Under Messaging:
    %ol
      %li
        Set the message webhook to an HTTP GET request to
        %tt= roster_twilio_text_url(@roster, format: :xml)
      - if @roster.fallback_user.present?
        %li
          Set the failure handler to a TwiML Bin containing
          .card.w-75
            %pre.m-0.card-body= @roster.fallback_text_twiml
