= render layout: 'layouts/roster', locals: { roster: @roster, nav_item: 'assignments' } do
  .card.mb-3
    .card-body
      .float-end= formatted_phone(@roster.phone)
      = render partial: 'on_call_user', locals: { roster: @roster }
  - if @your_assignments.present?
    .card.mb-3
      .card-header Your assignments
      .list-group.list-group-flush
        - @your_assignments.each do |assignment|
          .list-group-item
            .float-end.text-muted
              in
              = distance_of_time_in_words_to_now(assignment.start_datetime)
            %div
              From
              %span.text-muted= l assignment.start_datetime, format: :named
              to
              %span.text-muted= l assignment.end_datetime, format: :named
  .card.mb-3
    .card-header
      .d-flex
        .flex-grow-1
          Calendar
        .d-flex.align-items-center.gap-3
          = link_to roster_assignments_path(@roster, format: :csv), class: 'btn btn-sm btn-text' do
            %i.fa-solid.fa-download
            CSV
          = button_tag type: 'button',
                       class: 'btn btn-sm btn-text',
                       'data-bs-toggle': 'dropdown',
                       'aria-expanded': 'false' do
            %i.fa-solid.fa-plus
            Assign
          %ul.dropdown-menu
            %li= link_to 'Single', new_roster_assignment_path(@roster), class: 'dropdown-item'
    .card-body
      .mb-3{ data: { controller: 'assignment-calendar',
                     'assignment-calendar-events-url-value': roster_assignments_path(@roster, format: :json) } }
      = render partial: 'feeds/url', locals: { roster: @roster }
