.mb-3
  = f.label :first_name, class: 'form-label'
  = f.text_field :first_name, class: 'form-control'
.mb-3
  = f.label :last_name, class: 'form-label'
  = f.text_field :last_name, class: 'form-control'
.mb-3
  = f.label :spire, class: 'form-label'
  = f.email_field :spire, size: 25, placeholder: '12345678@umass.edu', class: 'form-control'
.mb-3
  = f.label :email, class: 'form-label'
  = f.email_field :email, size: 30, class: 'form-control'
.mb-3
  = f.label :phone, class: 'form-label'
  = f.phone_field :phone, placeholder: '+14135450056', class: 'form-control'
.mb-3
  - memberships = Roster.all.map { |roster| Membership.find_or_initialize_by(user:, roster:) }
  - if user.persisted?
    %legend.legend-label
      Rosters
      = f.fields_for :memberships, memberships do |g|
        = g.hidden_field :id
        = g.hidden_field :roster_id
        .list-group
          - admin_in_roster = Current.user.admin_in? g.object.roster
          .form-check
            = g.check_box :_destroy, { checked: g.object.persisted?,
                                       class: 'form-check-input',
                                       disabled: !admin_in_roster }, 'false', 'true'
            .form-check-label= g.label :_destroy, g.object.roster.name
  %legend.legend-label
    Admin in
    = f.fields_for :memberships, memberships do |g|
      = g.hidden_field :id
      = g.hidden_field :roster_id
      .list-group
        - admin_in_roster = Current.user.admin_in? g.object.roster
        .form-check
          = g.check_box :admin, { checked: false, disabled: !admin_in_roster, class: 'form-check-input' }
          .form-check-label= g.label :_destroy, g.object.roster.name
.mb-3
  .form-check
    = f.check_box :reminders_enabled, class: 'form-check-input'
    = f.label :reminders_enabled,
              'Receive email reminders of upcoming assignments?', class: 'form-check-label'
.mb-3
  .form-check
    = f.check_box :change_notifications_enabled, class: 'form-check-input'
    = f.label :change_notifications_enabled,
              'Receive notifications when assignments are changed?', class: 'form-check-label'
= f.submit 'Save', class: 'btn btn-primary'
