= form_for @user, url: path do |f|
  .container-fluid
    .row
      .col-lg-6
        .form-group
          = f.label :first_name
          = f.text_field :first_name, class: 'form-control'
        .form-group
          = f.label :last_name
          = f.text_field :last_name, class: 'form-control'
        .form-group
          = f.label :spire
          = f.email_field :spire, size: 25,
           placeholder: '12345678@umass.edu', class: 'form-control'
        .form-group
          = f.label :email
          = f.email_field :email, size: 30, class: 'form-control'
        .form-group
          = f.label :phone
          = f.phone_field :phone,
           placeholder: '+14135450056', class: 'form-control'
      .col-lg-6
        = field_set_tag nil, class: 'form-group' do
          %legend.m-0 Rosters
          = f.hidden_field :'roster_ids[]', value: '', id: nil
          .list-group.list-group-form
            = f.collection_check_boxes :roster_ids, Roster.all.order(:name), :id, :name, include_hidden: false do |c|
              - user_roster_permitted = @current_user.admin_in? c.object
              = c.label class: ['m-0', 'list-group-item', user_roster_permitted ? 'list-group-item-action' : nil] do
                .custom-checkbox.custom-control
                  = c.check_box checked: @user.membership_in(c.object).present?,
                                disabled: !user_roster_permitted,
                                class: 'custom-control-input'
                  .custom-control-label= c.text
        .form-group
          .custom-checkbox.custom-control
            = f.check_box :reminders_enabled, class: 'custom-control-input'
            = f.label :reminders_enabled,
                      'Receive email reminders of upcoming assignments?', class: 'custom-control-label'
        .form-group
          .custom-checkbox.custom-control
            = f.check_box :change_notifications_enabled, class: 'custom-control-input'
            = f.label :change_notifications_enabled,
                      'Receive notifications when your assignments are changed?', class: 'custom-control-label'
        - if @current_user.admin_in? @roster
          - membership = @user.membership_in @roster
          %div
            = f.fields_for membership || :membership do |g|
              .form-group
                .custom-checkbox.custom-control
                  = g.check_box :admin,
                                disabled: membership&.admin? && @roster.admins.one?,
                                class: 'custom-control-input'
                  = g.label :admin, "Admin in #{@roster.name}?", class: 'custom-control-label'
    .text-center
      = f.submit 'Save', class: 'btn btn-primary btn-lg'
