= form_for @user, url: path do |f|
  .container-fluid
    .row
      .col-lg-6
        .form-group
          = f.label :first_name
          = f.text_field :first_name, class: 'form-control'
        .form-group
          = f.label :last_name
          = f.text_field :last_name, class: 'form-control'
        .form-group
          = f.label :spire
          = f.email_field :spire, size: 25,
           placeholder: '12345678@umass.edu', class: 'form-control'
        .form-group
          = f.label :email
          = f.email_field :email, size: 30, class: 'form-control'
        .form-group
          = f.label :phone
          = f.phone_field :phone,
           placeholder: '+14135450056', class: 'form-control'
      .col-lg-6
        = field_set_tag nil, class: 'form-group' do
          %legend.m-0 Rosters
          = f.hidden_field :'roster_ids[]', value: '', id: nil
          .list-group.list-group-form
            - user_roster_options = @user.rosters | @current_user.memberships.where(admin: true).map(&:roster)
            = f.collection_check_boxes :roster_ids, user_roster_options, :id, :name, include_hidden: false do |c|
              - user_roster_permitted = @current_user.admin_in? c.object
              = c.label class: ['m-0', 'list-group-item', user_roster_permitted ? 'list-group-item-action' : nil] do
                .custom-checkbox.custom-control
                  = c.check_box checked: @user.membership_in(c.object).present?,
                                disabled: !user_roster_permitted,
                                class: 'custom-control-input'
                  = c.label class: 'custom-control-label'
        .form-group
          = f.label :roster_ids
          = f.select :roster_ids,
           options_from_collection_for_select(Roster.all, :id, :name,
            selected: selected_rosters(@user, @roster)), {}, multiple: true, class: 'form-control'
        %div
          = f.check_box :reminders_enabled
          = f.label :reminders_enabled,
           'Receive email reminders of upcoming assignments?'
        %div
          = f.check_box :change_notifications_enabled
          = f.label :change_notifications_enabled,
           'Receive notifications when your assignments are changed?'
        - if @current_user.admin_in? @roster
          - membership = @user.membership_in @roster
          %div
            = f.fields_for membership || :membership do |g|
              %div
                = g.check_box :admin, disabled: membership&.admin? && @roster.admins.one?
                = g.label :admin, "Admin in #{@roster.name}?"
    .text-center
      = f.submit 'Save', class: 'btn btn-primary btn-lg'
