= form_with model: user do |f|
  .mb-3
    = f.label :first_name, class: 'form-label'
    = f.text_field :first_name, required: true, class: 'form-control'
  .mb-3
    = f.label :last_name, class: 'form-label'
    = f.text_field :last_name, required: true, class: 'form-control'
  .mb-3
    = f.label :spire, class: 'form-label'
    = f.email_field :spire, required: true, class: 'form-control'
    %small.form-text.text-muted e.g. 12345678@umass.edu
  .mb-3
    = f.label :email, class: 'form-label'
    = f.email_field :email, required: true, class: 'form-control'
  .mb-3
    = f.label :phone, class: 'form-label'
    = f.phone_field :phone, required: true, class: 'form-control'
    %small.form-text.text-muted e.g. +14135450056
  .mb-3
    = field_set_tag nil do
      %legend.form-label.fs-6 Notify about
      .list-group
        = f.label :change_notifications_enabled, class: 'list-group-item' do
          = f.check_box :change_notifications_enabled, class: 'form-check-input me-2'
          Changes to assignments
        = f.label :reminders_enabled, class: 'list-group-item' do
          = f.check_box :reminders_enabled, class: 'form-check-input me-2'
          Upcoming assignments
  - if user != Current.user
    .mb-3
      .form-check
        = f.check_box :active, class: 'form-check-input'
        = f.label :active, class: 'form-check-label'
  = f.submit 'Save', class: 'btn w-100 btn-outline-primary'
