%h1.title Edit user

= form_for @user, url: roster_user_url(@roster, @user) do |f|
  .input-group
    = f.label :first_name
    = f.text_field :first_name
    = f.label :last_name
    = f.text_field :last_name
    = f.label :spire
    = f.text_field :spire, size: 25, placeholder: '12345678@umass.edu'
    = f.label :email
    = f.text_field :email, size: 30
    = f.label :phone
    = f.text_field :phone, placeholder: '+14135450056'
  .input-group
    = f.label :rosters
    = f.select :rosters,
      options_from_collection_for_select(Roster.all, :id, :name,
                                         selected: @user.rosters.pluck(:id)),
      {}, multiple: true
    = f.label :reminders_enabled, 'Receive email reminders of upcoming assignments?'
    = f.check_box :reminders_enabled
    = f.submit 'Save'
