%h1.title Users

%table#users
  %tr
    %th Name
    %th SPIRE
    %th Email
    %th Phone
    %th
    %th
  - @users.each do |user|
    %tr
      %td
        = user.full_name
        - if user == @fallback
          (fallback)
      %td= user.spire
      %td= user.email
      %td= user.phone
      %td= link_to 'Edit', edit_roster_user_path(@roster, user)
      %td= button_to 'Destroy', roster_user_path(@roster, user), method: :delete
  %tr
    %td{ colspan: 6 }= link_to 'Add user', new_roster_user_path
- if @fallback.nil?
  %h3.slightly-red No fallback user!
