= render layout: 'layouts/section', locals: { heading: "Users in #{@roster.name}", creatable: new_roster_user_path } do
  - if @fallback.blank?
    .alert.alert-warning.pb-0
      %p No fallback user!
      %p= link_to 'Select a fallback user', edit_roster_path(@roster), class: 'alert-link'
  .alert.alert-light
    - if @active
      = link_to 'Switch to inactive users', roster_users_path(active: false)
    - else
      = link_to 'Switch to active users', roster_users_path
  - if @other_users.present?
    .row.align-middle
      .col-lg-6
        = form_tag transfer_roster_users_path do
          .form-group.d-flex
            .text-nowrap.mx-3.d-none.d-sm-inline
              = label_tag :id, 'Add user from another roster: ', class: 'form-label align-middle d-sm-inline d-none'
            .input-group
              = select_tag :id,
                           options_from_collection_for_select(@other_users, :id, :last_name),
                           class: 'form-select form-select-sm'
              = submit_tag 'Add', class: 'btn btn-primary btn-sm'

  .table-responsive
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Name
          %th SPIRE
          %th Email
          %th Phone
          %th.column-compact
          %th.column-compact
          %th.column-compact
      %tbody
        - @users.each do |user|
          %tr.align-middle
            %td
              = user.full_name
              - if user == @fallback
                (fallback)
            %td= user.spire
            %td= user.email
            %td= formatted_phone(user.phone)
            %td
              = link_to edit_roster_user_path(@roster, user), class: 'btn btn-sm' do
                .fa-solid.fa-edit
                .d-none.d-xl-inline Edit
            %td
              - if user.active?
                = button_to roster_user_path(@roster, user),
                            method: :patch,
                            params: { user: { active: false } },
                            data: { confirm: 'Deactivating user will delete all upcoming assignments.' },
                            class: 'btn btn-sm' do
                  .fa-solid.fa-stop
                  .d-none.d-xl-inline Deactivate
              - else
                = button_to roster_user_path(@roster, user),
                            method: :patch,
                            params: { user: { active: true } },
                            class: 'btn btn-sm' do
                  .fa-solid.fa-play
                  .d-none.d-xl-inline Activate

            %td
              = button_to roster_user_path(@roster, user), method: :delete, class: 'btn btn-sm' do
                .fa-solid.fa-trash
                .d-none.d-xl-inline Delete
