%h1.title Users

%table#users
  %tr
    %th Name
    %th SPIRE
    %th Email
    %th Phone
    %th
    %th
  - @users.each do |user|
    %tr
      %td
        = user.full_name
        - if user.is_fallback?
          (fallback)
      %td= user.spire
      %td= user.email
      %td= user.phone
      %td= link_to 'Edit', edit_user_path(user)
      %td= button_to 'Destroy', user_path(user), method: :delete
  %tr
    %td{ colspan: 6 }= link_to 'Add user', new_user_path
- if @no_fallback
  %h3.slightly-red No fallback user!
