= render layout: 'layouts/users' do
  .card
    .card-header
      .d-flex
        .flex-grow-1
          All Users
        - if allowed_to?(:new?, User.new)
          %div
            = link_to new_user_path, class: 'btn btn-sm btn-text' do
              %i.fa-solid.fa-plus
              New
    .list-group.list-group-flush
      - if @users.present?
        - @users.each do |user|
          .list-group-item{ class: user.active ? nil : 'text-muted' }
            .row
              .col
                .row.row-cols-1.row-cols-md-3
                  .col
                    = user.full_name
                    - if user.admin
                      %span.badge.text-bg-secondary Admin
                    - unless user.active
                      %span.badge.text-bg-light Inactive
                  .col
                    .text-muted= formatted_phone user.phone
                  .col
                    .text-muted= user.email
              - if allowed_to?(:edit?, user)
                .col-auto
                  = link_to edit_user_path(user), class: 'btn btn-sm lh-1' do
                    %i.fa-solid.fa-edit
                    Edit
      - else
        .list-group-item No users found
