= render layout: 'layouts/section',
         locals: { heading: 'Users', creatable: allowed_to?(:new?, User.new) ? new_user_path : nil } do
  .card
    .card-header
      %strong All Users
    .list-group.list-group-flush
      - if @users.present?
        - @users.each do |user|
          .list-group-item{ class: user.active ? nil : 'text-muted' }
            .row
              .col
                .row
                  .col-12.col-md-4
                    = user.full_name
                    - if user.admin
                      %span.badge.bg-secondary Admin
                    - unless user.active
                      %span.badge.bg-light.text-dark Inactive
                  .col-12.col-md-4
                    = formatted_phone user.phone
                  .col-12.col-md-4
                    = user.email
              - if allowed_to?(:edit?, user)
                .col-auto
                  = link_to edit_user_path(user), class: 'btn btn-sm lh-1 text-nowrap' do
                    %i.fa-solid.fa-edit
                    Edit
      - else
        .list-group-item No memberships found.
