%h1.title Users

- if @fallback.nil?
  %h3.center.vague-warning
    No fallback user!
    = link_to 'Select a fallback user', edit_roster_path(@roster)
.container-fluid
  .col-xs-2.col-xs-offset-1
    = link_to 'Add new user', new_roster_user_path, class: 'btn btn-primary'
  .col-xs-3
    = link_to 'Inactive users', inactive_roster_users_path, class: 'btn btn-primary'
  .col-xs-3.col-xs-offset-2
    -  if @other_users.present?
      .form
        Add existing user:
        = form_tag transfer_roster_users_path do
          = select_tag :id,
                options_from_collection_for_select(@other_users,
                 :id, :last_name)
          = submit_tag 'Add', class: 'btn btn-primary btn-sm'
%table.table
  %thead
    %tr
      %th Name
      %th SPIRE
      %th Email
      %th Phone
      %th
      %th
  %tbody
    - @active.each do |user|
      %tr
        %td
          = user.full_name
          - if user == @fallback
            (fallback)
        %td= user.spire
        %td= user.email
        %td= user.phone
        %td= link_to 'Edit',
        edit_roster_user_path(@roster, user),
         class: 'btn btn-info'
        %td
          =form_for user, url: roster_user_url(@roster, user) do |f|
            = f.hidden_field :active, value: false
            = f.submit 'Deactivate', class: 'btn btn-primary',
             data: { confirm: 'Deactivating user will delete all upcoming assignments.' }
        %td= button_to 'Destroy',
        roster_user_path(@roster, user),
         method: :delete, class: 'btn btn-danger'
