- if flash[:alert].present? || flash[:notice].present?
  .container.my-3
    - if flash[:alert].present?
      .alert.alert-primary.fade.show{ role: 'alert' }
        .row.gx-3
          .col-auto
            %i.fa-solid.fa-fw.fa-circle-info
          .col= flash[:alert]
          .col-12.col-md-auto
            %hr.d-md-none
            = button_tag type: 'button', class: 'btn w-100 p-0 lh-1 text-nowrap', 'data-bs-dismiss': 'alert' do
              %i.fa-solid.fa-times
              Dismiss
    - if flash[:notice].present?
      .alert.alert-secondary.fade.show{ role: 'alert' }
        .row.gx-3
          .col-auto
            %i.fa-solid.fa-fw.fa-circle-info
          .col= flash[:notice]
          .col-12.col-md-auto
            %hr.d-md-none
            .row.gx-3
              - if flash[:undo].present?
                .col
                  = button_to undo_version_path(flash[:undo]), class: 'btn w-100 p-0 lh-1 text-nowrap' do
                    %i.fa-solid.fa-rotate
                    Undo
              .col
                = button_tag type: 'button', class: 'btn w-100 p-0 lh-1 text-nowrap', 'data-bs-dismiss': 'alert' do
                  %i.fa-solid.fa-times
                  Dismiss
