%nav.navbar.navbar-expand-sm.bg-body-tertiary.border-bottom
  .container
    = link_to root_path, class: 'navbar-brand' do
      %i.fa-solid.fa-phone
      UMTS On-Call
    = button_tag type: 'button',
                 class: 'navbar-toggler',
                 data: { 'bs-toggle': 'collapse', 'bs-target': '#navbar-content' },
                 aria: { expanded: 'false', label: 'Toggle navigation' } do
      %i.navbar-toggler-icon
    #navbar-content.collapse.navbar-collapse
      %ul.navbar-nav
        - if allowed_to?(:index?, Roster)
          %li.nav-item= link_to 'Rosters', rosters_path, class: 'nav-link'
        - if allowed_to?(:index?, User)
          %li.nav-item= link_to 'Users', users_path, class: 'nav-link'
      - if Current.user.present? || session[:entra_uid].present?
        %ul.navbar-nav.ms-auto
          %li.nav-item.dropdown
            = button_tag Current.user&.full_name || "#{session[:first_name]} #{session[:last_name]}",
                         type: 'button',
                         class: 'nav-link dropdown-toggle',
                         'data-bs-toggle': 'dropdown',
                         'aria-expanded': 'false'
            %ul.dropdown-menu
              - if Current.user.present?
                %li= link_to 'Profile', edit_user_path(Current.user), class: 'dropdown-item'
              %li= button_to 'Log out', logout_path, class: 'dropdown-item'
