:ruby
  user_classes = {
    'System Admins' => User.where(admin: true),
    'Roster Admins' => User.joins(:memberships).where(admin: false, memberships: { admin: true }).distinct,
    'Roster Users' => User.joins(:memberships).where(admin: false, memberships: { admin: false }).distinct,
    'New Users' => User.where.missing(:memberships).where(admin: false).distinct
  }.compact_blank!
= render layout: 'layouts/resource', locals: { heading: 'Development Login' } do
  - user_classes.each do |name, users|
    .card.mb-3
      .card-header= name
      .card-body
        = form_with url: main_app.login_path do |f|
          .input-group
            = f.collection_select :user_id, users, :id, :full_name, { include_blank: false }, class: 'form-select'
            = f.submit 'Log in', class: 'btn btn-outline-primary'
