:ruby
  user_classes = {
    'System Admins' => User.where(admin: true),
    'Roster Admins' => User.joins(:memberships).where(admin: false, memberships: { admin: true }).distinct,
    'Roster Users' => User.joins(:memberships).where(admin: false, memberships: { admin: false }).distinct,
    'New Users' => User.where.missing(:memberships).where(admin: false).distinct
  }.compact_blank!
= render layout: 'layouts/resource', locals: { heading: 'Development Login' } do
  .card.mb-3
    .card-header Azure
    .card-body
      .d-grid
        = button_to 'Log in with Azure', '/auth/entra_id', class: 'btn btn-outline-primary', form_class: 'd-grid'
  - user_classes.each do |name, users|
    .card.mb-3
      .card-header= name
      .card-body
        = form_with url: '/auth/developer/callback', method: :get do |f|
          .input-group
            = f.collection_select :uid, users, :entra_uid, :full_name,
                                  { include_blank: false }, class: 'form-select', 'data-controller': 'tom-select'
            = f.submit 'Log in', class: 'btn btn-outline-primary'
