#links
  .group.session
    #logout= link_to 'Logout', destroy_session_path
    #current_user_name Logged in as #{@current_user.full_name}
  .group.roster-select
    - if rosters.one?
      = link_to 'Calendar', roster_assignments_path(@roster)
    - else
      - @current_user.rosters.each do |roster|
        = link_to roster.name, roster_assignments_path(roster),
          class: ('current' if roster == @roster)
  .group.roster-actions
    = link_to 'Manage rosters', rosters_path
    = link_to 'Manage users', roster_users_path(@roster)
    = link_to 'Generate rotation',
      rotation_generator_roster_assignments_path(@roster)
