%nav.navbar.navbar-dark.navbar-expand-md.bg-primary.mb-2
  .container-fluid
    .navbar-header
      %button.navbar-toggler{ type: 'button',
      data: { toggle: 'collapse', target: '#navCollapse' },
      aria: { expanded: 'false', label: 'Toggle Navigation' } }
        %span.fas.fa-bars
    #navCollapse.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        - rosters.each do |roster|
          = nav_link_item roster.name, roster_assignments_path(roster)
        - if @current_user&.admin?
          = nav_link_item 'Manage Rosters', rosters_path
          - if @current_user&.admin_in? @roster
            = nav_link_item 'Manage Users', roster_users_path(@roster)
            %li.nav-item.dropdown
              = link_to 'Generate', '#', role: 'button',
                        id: 'navbar-generate-nav-link', class: 'nav-link dropdown-toggle',
                        'data-toggle': 'dropdown', 'aria-expanded': 'false'
              .dropdown-menu{ 'aria-labelledby': 'navbar-generate-nav-link' }
                = link_to 'Rotation', rotation_generator_roster_assignments_path(@roster), class: 'dropdown-item'
                = link_to 'By Weekday', generate_by_weekday_roster_assignments_path(@roster), class: 'dropdown-item'
      %ul.navbar-nav
        - if @current_user.present?
          %li.nav-item.navbar-text.mx-2
            Logged in as #{@current_user.full_name}
          = nav_link_item 'Edit Profile',
            edit_roster_user_path(@roster, @current_user)
        = nav_link_item 'Logout', destroy_session_path
