:ruby
  options = local_assigns.clone
  h = options.delete(:h) || 1
  heading = options.delete(:heading)
  actions = options.delete(:actions)
  creatable = options.delete(:creatable)
  editable = options.delete(:editable)
  deletable = options.delete(:deletable)
  closeable = options.delete(:closeable)
= tag.section(**options) do
  .d-flex.align-items-end.gap-3
    = content_tag "h#{h}", class: 'm-0 flex-grow-1' do
      = heading
    %div
      = actions
      - if creatable
        = link_to creatable, 'aria-label': 'New', class: 'btn' do
          %i.fa-solid.fa-plus
          %span.d-none.d-lg-inline New
      - if editable
        = link_to editable, 'aria-label': 'Edit', class: 'btn' do
          %i.fa-solid.fa-edit
          %span.d-none.d-lg-inline Edit
      - if deletable
        = link_to deletable,
                  method: :delete,
                  'aria-label': 'Delete',
                  class: 'btn',
                  'data-confirm': 'Are you sure you want to delete this item?' do
          %i.fa-solid.fa-trash
          %span.d-none.d-lg-inline Delete
      - if closeable
        = link_to closeable, 'aria-label': 'Close', class: 'btn' do
          %i.fa-solid.fa-times
          %span.d-none.d-lg-inline Close
  %hr
  = yield
