!!!
%html
  %head
    %title #{@rotation.try :name} On-Call
    = favicon_link_tag 'calendar-icon.png'
    = stylesheet_link_tag 'application.css', media: 'all'
    = javascript_include_tag 'application.js'
    = csrf_meta_tags
  %body
    #links
      = link_to 'Logout', destroy_session_path
      - if @rotation.present?
        = link_to 'Manage users', rotation_users_path(@rotation)
        = link_to 'Generate rotation',
          rotation_generator_rotation_assignments_path(@rotation)
      - rotations = @current_user.rotations
      - if rotations.many?
        - @current_user.rotations.each do |rotation|
          = link_to rotation.name, rotation_assignments_path(rotation)
      - else
        = link_to 'Calendar', rotation_assignments_path(@rotation)
    #current_user_name= @current_user.full_name
    #flash
      - if flash[:message].present?
        #message= flash[:message]
      - if flash[:errors].present?
        #errors
          The following errors occurred:
          %ul
            - flash[:errors].each do |error_message|
              %li= error_message
    #content_wrapper
      #main_content= yield
