!!!
%html
  %head
    %title #{@roster.try :name} On-Call
    = favicon_link_tag 'calendar-icon.png'
    = stylesheet_link_tag 'application.css', media: 'all'
    = javascript_include_tag 'application.js'
    = csrf_meta_tags
  %body
    = render partial: 'layouts/nav',
      locals: { rosters: @current_user&.rosters || Roster.none }
    .container
      - if flash[:message].present?
        .alert.alert-success
          = flash[:message]
          - if flash[:change].present?
            (#{link_to 'undo', undo_change_path(flash[:change])})
      - if flash[:errors].present?
        .alert.alert-danger
          The following errors occurred:
          %ul
            - flash[:errors].each do |error_message|
              %li= error_message
      #main-content= yield
