!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %title UMTS On-Call
    = favicon_link_tag 'calendar-icon.png'
    = stylesheet_link_tag 'application.css', media: 'all'
    = javascript_include_tag 'application.js', nonce: true, type: :module
    = csrf_meta_tags
  %body.bg-body-tertiary
    .min-vh-100.border-bottom.bg-body.d-flex.flex-column
      %header
        = render partial: 'application/navbar'
        = render partial: 'application/flash'
      %main.flex-grow-1
        .container.mb-3= yield
